a.nav-link.active {
    color: rgba(0,0,0,.9);
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul.semester-list {
    margin-top: 5rem;
}

table tr td:first-child::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    min-height: 38px;
}

table tr:first-child td {
    border-top: none;
}

button.btn-add {
    margin: .75rem;
}

span.enrollment-check {
    margin-right: 1.5rem;
}

form.form-inline {
    display: inline-block;
}

div.notify-button {
    margin: .75rem;
}