<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row" th:fragment="modal">
    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGroupModalLabel">Create new exercise group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="${#mvc.url('LC#detailGroupsCreate').arg(0, lecture.semester.slug).arg(1, lecture.slug).build()}"
                      th:object="${groupToCreate}" method="POST">
                    <input type="hidden" name="lecture" th:value="${lecture.slug}" />
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="title" class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="title" th:autofocus="true"
                                       th:field="*{title}" placeholder="Group title"/>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>