<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:fragment="groups">
    <table class="table table-hover">
        <tr th:if="${groups.size() == 0}">
            <td colspan="2" class="text-muted text-center">
                No exercise groups found.
                <span th:if="${userService.isUserLoggedIn()} and ${userService.isUserAdmin()}">
                    Please create one <a data-toggle="modal" data-target="#createGroupModal" href="#">here</a>
                </span>
            </td>
        </tr>
        <tr th:each="group : ${groups}">
            <td th:text="${group.title}"></td>
            <td th:if="${userService.isUserLoggedIn()} and ${userService.isUserAdmin()}">
                <div class="float-right">
                    <a th:href="${#mvc.url('LC#detailGroupsDelete').arg(0, lecture.semester.slug).arg(1, lecture.slug).arg(2, group.slug).build()}" class="btn btn-secondary">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <div class="float-right" th:if="${userService.isUserLoggedIn()} and ${userService.isUserAdmin()}">
        <button class="btn btn-success btn-add" data-toggle="modal" data-target="#createGroupModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div th:if="${userService.isUserLoggedIn()} and ${userService.isUserAdmin()}">
        <div th:replace="groups/create :: modal"></div>
    </div>
</div>
</body>
</html>